{% extends 'tutorials/index.html' %}


{% block tutorial %}
<div id="content">
<h1>Constraints</h1><br>
SQL constraints are used to specify rules for the data in a table.<br>
Here are the constraints:<br>
<ul>
    <li><pre><code class="html">NOT NULL</code></pre> - Ensures that a column cannot have a NULL value.</li>
    <li><pre><code>UNIQUE</code></pre> - Ensures that all values in a column are different.</li>
    <li><pre><code>PRIMARY KEY</code></pre> - A combination of a NOT NULL and UNIQUE. Uniquely identifies each row in a table.</li>
    <li><pre><code>FOREIGN KEY</code></pre> - Uniquely identifies a row/record in another table.</li>
    <li><pre><code>CHECK</code></pre> - Ensures that all values in a column satisfies a specific condition.</li>
    <li><pre><code>DEFAULT</code></pre> - Sets a default value for a column when no value is specified.</li>
    <li><pre><code>INDEX</code></pre> - Used to create and retrieve data from the database very quickly.</li>
</ul>
</div>
{% endblock %}
