{% extends 'tutorials/index.html' %}


{% block tutorial %}
<div id="content">
<h1>Create</h1><br>
Create clause is a clause in SQL used to create a new database or table.<br>
The standard format of create clauses are the following:<br>
<pre><code class="sql">CREATE DATABASE database name;</code></pre><br>
<pre><code><b>CREATE TABLE table name(columns and their descriptions);</b></code></pre>
Examples of a CREATE clause:<br><br>
<pre><code>CREATE DATABASE newDB;<br>
CREATE TABLE Workers (<br>
    workerId INT AUTO_INCREMENT PRIMARY KEY,
    firstname VARCHAR(80),
    lastname VARCHAR(140),
    age SMALLINT(3)
);
</code></pre>
In the first query, we create new database named newDB.<br>
In the second query, we create new table named Workers that has the following columns.<br>

</div>
{% endblock %}