{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'tutorials/style.css' %}">
{% endblock %}

{% block nav_active_tutorials %}active{% endblock %}

{% block content %}
  <div class="container-fluid mt-5 pt-5">
    <div class="row">
      <div class="col-12 col-md-3 col-xl-2">
        <form class="px-2 pb-3">
          <input type="search" class="form-control" id="searchTutorials" placeholder="Search..." style="margin-bottom: 5%">
        </form>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active black" href="">Introduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="">Select</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="">Where</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="">Update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="">Join</a>
          </li>
        </ul>
      </div>
      <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5" role="main">
        <h1>Introduction</h1>
        <br>
        {% lorem 3 p %}
      </main>
    </div>
  </div>
{% endblock %}