{% extends 'tutorials/index.html' %}


{% block tutorial %}
<div id="content">
<h1>Introduction</h1><br>
SQL is a standard language for accessing and manipulating data held in relational database management system (RDBMS).<br>
SQL stands for structured query language.<br>
It has several features such as:<br>
<ul>
    <li>execute queries against database.</li>
    <li>retrieve data from a databases.</li>
    <li>insert a record into a database.</li>
    <li>update records in a database.</li>
    <li>delete records from a database.</li>
    <li>create new database.</li>
    <li>create new tables in a database.</li>
    <li>set permissions on tables, procedures and views.</li>
</ul>
</div>
{% endblock %}