{% extends 'tutorials/index.html' %}


{% block tutorial %}
  <div id="content">
    <h1>Select</h1><br>
    Select clause is a clause in SQL used to retrieve data from database.<br>
    The standard format of select clause is the following:<br>
    <b>SELECT column names FROM table name;</b><br>
    Two examples of a SELECT clause:<br><br>
    <pre>SELECT * FROM Workers;</pre>
    <pre>SELECT firstname, lastname, age from Workers;</pre>
    In the first query result, we want to see ALL columns' values of Workers table, * mark stands for it.<br>
    In the second query result, we want to see only firstnames, lastnames and ages column values.<br>
  </div>
{% endblock %}
