$challenge_width: 80%;
$mobile_width: 95%;

body {
  margin-top: 160px;
}

.CodeMirror {
  font-size: 1.5vw;
  max-height: 180px;
  border: solid 1px;
}

code {
  color: black;
}

.result-div {
  max-height: 300px;
  overflow: scroll;
}

.challenge {
  width: $challenge_width;
  border: 5px solid #535c6b;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.topic-header {
  width: $challenge_width;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #535c6b;
  border-bottom: 1px solid #535c6b;
}

.topic-alert {
  width: $challenge_width;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-table {
  padding: 10px;
  overflow: scroll;
  max-height: 270px;
  min-width: 30vw;
  max-width: 45vw;
}

.dropdown {
  cursor: default;
}

.checkCol {
  display: flex;
  align-items: center;
}

.alertCol {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.checkAlertRow {
  min-height: 60px;
  justify-content: flex-end;
}

.table-nav {
  background: rgb(225, 225, 225); /* fallback */
  background: rgba(225, 225, 225, 0.9);
  position: fixed;
  z-index: 1;
  margin: -105px auto 5%;
  left: 0;
  right: 0;
}

#navbarDropdown {
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (max-width: 767px) {

  .challenge {
    width: $mobile_width;
  }

  .topic-header {
    width: $mobile_width;
  }

  .topic-alert {
    width: $mobile_width;
  }

  .CodeMirror {
    font-size: 10px;
  }

}
