.jumbo-header {
    margin-top: 40px;
}

.jumbo-parag {
    font-size: 26px;
    font-weight: 200;
    opacity: 0.7;
}

.jumbotron {
    color: #fff;
    background: #159957 linear-gradient(120deg, #155799, #159957);
}

footer {
    clear: both;
}

.c-footer {
    padding: 0 1.25rem 1.25rem 1.25rem;
}

h5 {
    position: relative;
}

h5 span {
    font-size: 0.5em;
    bottom: 0.05em;
    position: absolute;
    right: 0;
}
