{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'challenges/style.css' %}">
{% endblock %}

{% block content %}
  <div class="jumbotron ng-scope">
    <div class="container">
      <h1 class="jumbo-header">bossql</h1>
      <p class="jumbo-parag">Learn SQL through challenges.</p>
      <p>
        <a href="{% url 'tutorials:index' %}" class="btn btn-outline-info btn-large">Tutorials »</a>
      </p>
    </div>
  </div>
  <br>
  {% if challenges %}
    <div class="container">
      {% for challenge in challenges %}
        {% if forloop.counter0|divisibleby:3 or forloop.counter0 == 0 %}
          <div class="row">{% endif %}
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ challenge.name }}</h5>
            <p class="card-text">{{ challenge.description }}</p>
            <a href="{% url 'challenges:detail' challenge.pk %}" class="btn {% if not challenge.available %} disabled btn-outline-dark {% else %} btn-outline-success {% endif %}">Go</a>
          </div>
        </div>{% if forloop.counter|divisibleby:3 %}<br></div>{% endif %}
      </div>{% endfor %}
    </div>
  {% else %}
    <p class="text-center">No challenges available!</p>
  {% endif %}
{% endblock %}
