{% extends 'base.html' %}
{% load static %}

{% block seo %}
  <meta name="description" content="bossql - Learn SQL through challenges.
  Password change done.">
{% endblock %}

{% block title %}Change password done{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block content %}
  <div class="container text-center" style="margin-top: 100px">
    <h3 class="mb-3">Password change successful</h3>
    <p>Your password was changed.</p>
  </div>
{% endblock %}

