{% extends 'base.html' %}
{% load static %}

{% block seo %}
  <meta name="description" content="bossql - Learn SQL through challenges.
  Change the password.">
{% endblock %}

{% block title %}Change password{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block content %}
  <div class="container account-form">
    <h1 class="mb-5 text-center">Change settings</h1>
    <form method="post">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% csrf_token %}
      <div class="form-check">
        {{ form.allow_seen_in_stats }}
        <label for="id_allow_seen_in_stats">Visible in stats</label>
      </div>
      <button type="submit" id="save_settings" class="btn btn-primary mt-5">Save settings</button>
    </form>
  </div>
{% endblock %}

