{% extends 'base.html' %}
{% load static %}

{% block description %}
  <meta name="description" content="bossql - Learn SQL through challenges.
  Profile view of {{ customuser.username }}.">
{% endblock %}

{% block title %}Profile - {{ customuser.username }}{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-4 mt-5">
          <div class="rank">
            #355
          </div>
        </div>
        <div class="col text-left">
          <h1 class="mt-4 profile-username">{{ customuser.username }}
            {% if user.username == customuser.username %}
              <small class="text-muted you">(you)</small>
            {% endif %}</h1>
          <p>Challenges completed: {{ customuser.completed_challenges }}</p>
          {% if user.username == customuser.username or customuser.is_email_public %}
            <p>Email: {{ customuser.email }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if user.username == customuser.username %}
    <div class="container">
      <div class="row">
        <div class="col-4 rank-box">
          <h3 class="mt-3 pb-3">Change settings:</h3>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
          <form method="post" class="ml-4">
            {% csrf_token %}
            <div class="form-check">
              {{ form.allow_seen_in_stats }}
              <label for="id_allow_seen_in_stats">Visible in stats</label>
            </div>
            <div class="form-check">
              {{ form.is_email_public }}
              <label for="id_is_email_public" class="form-check-label">Email public</label>
            </div>
            <button type="submit" class="btn btn-primary my-4">Save settings</button>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
