{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block content %}
  <div class="container" style="margin-top: 10%">
    {% if user.username == customuser.username %}
      <b style="color:red">This is your profile.</b>
    {% endif %}
    <h2><b>Profile info:</b></h2>
    <p>Username: {{ customuser.username }}</p>
    <p>Email: {{ customuser.email }}</p>
    <p>Challenges completed: {{ customuser.completed_challenges }}</p>

  </div>
{% endblock %}