{% extends 'base.html' %}
{% load static %}

{% block seo %}
  <meta name="description" content="bossql - Learn SQL through challenges.
  Profile view of {{ customuser.username }}.">
{% endblock %}

{% block title %}Profile - {{ customuser.username }}{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row mt-3">
        <div class="col-12 text-center">
          <h1 class="mt-4 profile-username"><i class="fas fa-user-circle mr-3"></i>{{ customuser.username }}
            {% if user.username == customuser.username %}
              <small class="you">(you)</small>
            {% endif %}
          </h1>
        </div>
        <div class="col-12 mt-5 d-flex justify-content-center">
          <div><p class="mx-4 text-muted">Score</p>
            <p class="mx-4 font-weight-bold text-center nr">{{ customuser.score }}</p></div>
          <div><p class="mx-4 text-muted">Challenges completed</p>
            <p class="mx-4 font-weight-bold text-center nr">{{ customuser.completed_challenges }}</p></div>
        </div>
      </div>
    </div>
  </div>
  {% if user.username == customuser.username %}
    <div class="container d-flex justify-content-center">
      <a href="{% url 'accounts:change_settings' %}" class="btn btn-info mx-3"><i class="fas fa-wrench"></i> Change settings</a>
      <a href="{% url 'accounts:password_change' %}" class="btn btn-info mx-3"><i class="fas fa-key"></i> Change password</a>
    </div>
  {% endif %}
{% endblock %}
