.account-form {
    text-align: left;
    margin-top: 100px;
    max-width: 450px;
}

.error-msg {
    color: red;
    font-size: 12px;
}

.profile-username {
    font-weight: 500;
    font-size: 60px;
}

.you {
    font-size: 14px;
    color: green;
}

.nr {
    font-size: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* override crispy_forms default */
.asteriskField {
    display: none;
}
