body {
    margin-top: 160px;
}

.editor {
    height: 150px;
    border: 1px solid #535c6b;
}

code {
    color: black;
}

.challenge {
    width: 70%;
    border: 5px solid #535c6b;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.topic-header {
    width: 70%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #535c6b;
    border-bottom: 1px solid #535c6b;
}

.topic-alert {
    width: 70%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-table {
    padding: 10px;
    overflow: scroll;
    max-height: 270px;
    min-width: 30vw;
}

.dropdown {
    cursor: default;
}

.checkCol {
    display: flex;
    align-items: center;
}

.alertCol {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkAlertRow {
    min-height: 60px;
    justify-content: flex-end;
}

.table-nav {
    background: rgb(225, 225, 225); /* fallback */
    background: rgba(225, 225, 225, 0.9);
    position: fixed;
    z-index: 1;
    margin: -105px auto 5%;
    left: 0;
    right: 0;
}

#navbarDropdown {
    font-weight: bold;
    font-size: 20px;
}
