{% extends 'base.html' %}
{% load static %}

{% block seo %}
  <meta name="description" content="bossql - Learn SQL through challenges.
  About page. Made as a software engineering project for a course at TTU.">
{% endblock %}

{% block title %}About{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'about/style.css' %}">
{% endblock %}

{% block nav_active_about %}active{% endblock %}

{% block content %}
  <div class="container mt-5 pt-5">
      <div>
        <h2 class="mb-3">About</h2>
        <p><b>bossql</b> is a place to learn SQL through a wide range of different challenges. From simple select
        It was made as a software engineering project for a course at TTU.</p>
        <h2 class="mt-4 mb-0">FAQ</h2><small class="text-muted">Frequently Asked Questions</small>
        <h5 class="mt-4">What is SQL?</h5>
        <p>SQL (Structured Query Language) is a language used for managing data held in a relational database.</p>
        <h5 class="mt-4">Why is it called bossql?</h5>
        <p>You have to be the boss of SQl to beat all the challenges in every topic.</p>
        <h5 class="mt-4">Which SQL engine is used in challenges?</h5>
        <p>PostgreSQL 9.5 </p>
        <h5 class="mt-4">Why do I have to log in?</h5>
        <p>To save and track your progress we need to have a way to identify you.
          User data is not shared with anyone.</p>
        <h5 class="mt-4">I found a bug. How do I report it?</h5>
        <p>Please open an issue <a href="https://github.com/rrebase/bossql/issues">here</a>.</p>
      </div>
  </div>
{% endblock %}
